<!-- Left Sidenav -->
<div class="left-sidenav">

    <ul class="metismenu left-sidenav-menu" id="side-nav">

        <li class="menu-title">Main</li>

        <li>
            <a href="/Home/Index"><i class="fa-solid fa-house-user"></i><span>Home</span><span class="menu-arrow"></span></a>
        </li>
        <li>
            <a href="/Section/Index"><i class="bi bi-box"></i><span>Sections</span><span class="menu-arrow"></i></span></a>
        </li>
        <li>
            @* <i class="mdi mdi-chevron-right"> *@
            <a href="/Category/Index"><i class="fa-solid fa-layer-group"></i><span>Categories</span><span class="menu-arrow"></i></span></a>
        </li>
        <li>
            <a href="/Shelf/Index"><i class="bi bi-bookshelf"></i><span>Shelves</span><span class="menu-arrow"></i></span></a>
        </li>
        <li>
            <a href="/Book/Index"><i class="fa-solid fa-book"></i><span>Books</span><span class="menu-arrow"></span></a>
            @* <ul class="nav-second-level" aria-expanded="false">
                <li><a href=""><i class="fas fa-book-open"></i><span>Category 1</span></a></li>
                <li><a href=""><i class="fas fa-book-open"></i><span>Category 2</span></a></li>
            </ul> *@
        </li>

        
        
        

        

    </ul>
</div>
<!-- end left-sidenav-->