<template id="toast">
    <div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true" data-delay="5000">
        <div class="toast-header">
            <i class="mdi mdi-circle-slice-8 font-18 mr-1 text-primary"></i>
            <strong class="mr-auto toast-title"></strong>
            <small class="toast-date"></small>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="toast-body"></div>
    </div>
</template>

<!-- Toast container -->
<div id="toast-container"></div>

